{% extends 'fbcAppBundle:Default:index.html.twig' %}

{% block title %}Escritorio - Free Betta Control{% endblock %}

{% block h1 %}Escritorio{% endblock %}

{% block opciones %}
<ul data-role="controlgroup" data-type="horizontal">
    <li><a href="{{path('nuevoBetta')}}" title="Registrar nuevo betta" data-role="button" data-icon="add" data-theme="b">Nuevo Betta</a></li>
    <li><a href="{{path('nuevaPuesta')}}" title="Registrar nueva puesta" data-role="button" data-icon="add" data-theme="b">Nueva Puesta</a></li>
    <li><a href="#" title="" data-role="button" data-icon="gear" data-theme="b">Registro masivo</a></li>
</ul>
{% endblock %}

{% block contenido %}
<ul class="margen1pc" data-role="listview" data-inset="true" data-dividertheme="f" data-theme="c">
    <li>Número total de bettas: <span class="enlace">{%for cantidad in total%}{{cantidad}}{%endfor%}, {%for macho in machos%}{{macho}}{%endfor%} machos y {%for hembra in hembras%}{{hembra}}{%endfor%} hembras registrados</a></li>
    <li>Número total de puestas: <span class="enlace">{%for cantidad in puestas%}{{cantidad}}{%endfor%}</span></li>
    <li>{%for betta in ultimoBetta%}<a href="{{path('betta',{'id':betta.idBetta})}}" title="Ir a {{betta.codBetta}}">Último betta añadido: <span class="enlace">{{betta.codBetta}}</span></a>{%endfor%}</li>
    <li>{%for puesta in ultimaPuesta%}<a href="{{path('puesta',{'id':puesta.idPuesta})}}" title="Ir a {{puesta.codPuesta}}">Última puesta registrada: <span class="enlace">{{puesta.codPuesta}}</span></a>{%endfor%}</li>
</ul>
{% endblock %}